{% extends 'base.html' %}
{% block title %}
Domains Page
{% endblock %}


{% block content %}

<!-- {% for domain in domains %} -->

<div class="row">
  {% for domain in domains %}
    <div class="col-md-6">
        <div style="margin-bottom: 5px" class="card text-center bg-dark">
             <div class="card-body">
                 <h5 class="card-title">{{ domain.name }}</h5>
             </div>
         </div>
  {% endfor %}
    </div>
<!-- <div class="container-fluid">
  <div class="card card-body bg-dark">
    <p class="text-info">{{ domain.name }}</p>
  </div>
    </div>

{% endfor %} -->

<br>
    <div class="container">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Novos diretórios
            </button>
          </p>
          <div class="collapse" id="collapseExample" >
            <div class="card card-body bg-dark">
                <form method="POST" class="form-signin" style="color:white" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    
                    {{ form.directory.label() }}
                    {{ form.directory(class="form-control", placeholder="Insira novos diretórios a serem analisados: ", rows=5) }}

                    <br>
        
                    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        
                </form>
            </div>
          </div>
    </div>
{% endblock %}