{% extends 'base.html' %}
{% block title %}
Domains Page
{% endblock %}

{% block content %}

<br>
<div class="row" style="margin-top:20px">
  <div class="col-8">
      <h2>Domínios de {{ project }}</h2>
      <p>Aqui você pode analisar </p>
      <br>
     <table class="table table-hover table-dark">
        <thead>
           <tr>
              <!-- Your Columns HERE -->
              <th scope="col">Domínio</th>
              <th scope="col">Serviço</th>
              <th scope="col">Análise</th>
              <th scope="col">Opções</th>
           </tr>
        </thead>
        <tbody>
           <!-- Your rows inside the table HERE: -->
           {% for domain in domains %}
           {% include 'includes/domains_modals.html' %}
           <tr>
              <td>{{ domain.name }}</td>
              {% if domain.services == 1  %}
              <td><div class="p-3 mb-2 bg-success text-white">Web</div></td>
              {% elif domain.services == 3 %}
              <td><div class="p-3 mb-2 bg-secondary text-white">Desconhecido</div></td>
              {% elif domain.services == 2 %}
              <td><div class="p-3 mb-2 bg-warning text-white">Não Web</div></td>
              {% else %}
              <td><div class="p-3 mb-2 bg-danger text-white">Não Responde</div></td>
              {% endif %}

              {% if domain.status == 2  %}
              <td><div class="p-3 mb-2 bg-secondary text-white">Não analisado</div></td>
              {% elif domain.status == 1 %}
              <td><div class="p-3 mb-2 bg-warning text-white">Em análise</div></td>
              {% elif domain.status == 3 %}
              <td><div class="p-3 mb-2 bg-success text-white">Analisado</div></td>
              {% elif domain.status == 4 %}
              <td><div class="p-3 mb-2 bg-info text-white">Análise Adiada</div></td>
              {% endif %}
              <td>
                 <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ domain.id }}">Informações</button>
                 <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-Edit-{{ domain.id }}">Editar</button>
                 <button class="btn btn-outline btn-danger" data-toggle="modal" data-target="#Modal-Remove-{{ domain.id }}">Remover</button>
              </td>
           </tr>
           {% endfor %}
        </tbody>
     </table>
  </div>
</div>

<br>
    <div class="container">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Novos domínios
            </button>
          </p>
          <div class="collapse" id="collapseExample" >
            <div class="card card-body bg-dark">
                <form method="POST" class="form-signin" style="color:white" enctype="multipart/form-data">
                    {{ create_domain_form.hidden_tag() }}
                    
                    {{ create_domain_form.directory.label() }}
                    {{ create_domain_form.directory(class="form-control", placeholder="Lista de diretórios", rows=5) }}

                    <br>
                    <input id="created_domain" name="created_domain" type="hidden" value="created_domain">
                    {{ create_domain_form.submit(class="btn btn-lg btn-block btn-primary") }}
        
                </form>
            </div>
          </div>
    </div>
{% endblock %}