{% extends 'base.html' %}
{% block title %}
    Projects Page
{% endblock %}
{% block content %}

<head>
  <style>
    .botoes{
      width: 140px;
      display: flex;
      justify-content: space-between;
    };
  </style>
</head>

{% for project in projects %}

<br>
<div class="container"></div>
    <div class="card card-body bg-dark">
    <div>
      <figure class="figure">
        <img
          src="static/{{ project.image }}"
          class="figure-img img-fluid rounded shadow-3 mb-3"
          alt="{{ project.image }}"
        />
        <figcaption class="figure-caption">Data de criação: {{ project.creation_date }}</figcaption>
      </figure>
    </div>

      <h1 class="text-primary">{{ project.name }}</h1>

      <p class="text-info">{{ project.description }}</p>

      <div class="botoes">
        <a type="button" class="btn btn-outline-success" href="{{ url_for('directories_page', project=project.name)}}">Acessar</a>

        <a type="button" class="btn btn-outline-danger" href="{{ url_for('delete_project_page', project=project.name) }}">Remover</a>
      </div>
    </div>
</div>
{% endfor %}

<br>
    <div class="container">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Novo projeto
            </button>
          </p>
          <div class="collapse" id="collapseExample" >
            <div class="card card-body bg-dark">
                <form method="POST" class="form-signin" style="color:white" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    
                    {{ form.name.label() }}
                    {{ form.name(class="form-control", placeholder="Nome do projeto") }}
        
                    {{ form.description.label() }}
                    {{ form.description(class="form-control", placeholder="Descrição do Projeto", rows=5) }}

                    {{ form.image.label() }}
                    {{ form.image(class="form-control", placeholder="Link da Imagem") }}

                    <br>
        
                    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        
                </form>
            </div>
          </div>
    </div>
{% endblock %}