{% extends 'base.html' %}
{% block title %}
    Welcome to Bug Hunter Hub
{% endblock %}
{% block content %}

{% for project in projects %}
<br>
<div class="container"></div>
    <div class="card card-body bg-dark">
        <figure class="figure">
            <img
              src="static/{{ project.image }}"
              class="figure-img img-fluid rounded shadow-3 mb-3"
              alt="{{ project.image }}"
            />
            <figcaption class="figure-caption">Data de criação: {{ project.creation_date }}</figcaption>
          </figure>
    <h1 class="">{{ project.name }}</h3>
    <p class="">{{ project.description }}</p>
    <button type="button" class="btn btn-outline-success" style="margin-bottom: 5px"
                                   data-toggle="modal" data-target="#">
    Acessar
                           </button>
    </div>
</div>
{% endfor %}

<br>
    <div class="container">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Novo projeto
            </button>
          </p>
          <div class="collapse" id="collapseExample" >
            <div class="card card-body bg-dark">
                <form method="POST" class="form-signin" style="color:white" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    
                    {{ form.name.label() }}
                    {{ form.name(class="form-control", placeholder="Nome do projeto") }}
        
                    {{ form.description.label() }}
                    {{ form.description(class="form-control", placeholder="Descrição do Projeto", rows=5) }}

                    {{ form.image.label() }}
                    {{ form.image(class="form-control", placeholder="Link da Imagem") }}

                    <br>
        
                    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        
                </form>
            </div>
          </div>
    </div>
{% endblock %}